<div class="container ">
    <h2 class="body-head mt-5">Our Events</h2>

    <p class="subHead"> <img class="iconImg" src="../../../assets/image/topicIcon.png" alt=""> PCRG Workshop 2022</p>

</div>

<div class="container">
      <!-- Gallery -->
<div class="  ">
    <div class="row galrow">
        <div class="column1 ">
            <img src="../../../assets/image/gallry1.png" alt="" class=" img-fluid column-img">
            <img src="../../../assets/image/gallry2.png" alt="" class=" img-fluid column-img">
        </div>

        <div class="column2 ">
            <img src="../../../assets/image/gallry3.png" alt="" class=" img-fluid column-img">
            <img src="../../../assets/image/gallry4.png" alt="" class=" img-fluid column-img">
            <img src="../../../assets/image/gallry5.png" alt="" class=" img-fluid column-img">
        </div>

        <div class="column3 ">
            <img src="../../../assets/image/gallry6.png" alt=""class=" img-fluid column-img">
            <img src="../../../assets/image/gallry7.png" alt="" class=" img-fluid column-img">

        </div>
    </div>
</div>

<!-- <div class="row">
  <div class="column">
    <img src="https://source.unsplash.com/featured/?woman" style="width:100%">
    <img src="https://source.unsplash.com/featured/?man" style="width:100%">
    <img src="https://source.unsplash.com/featured/?animal" style="width:100%">
    <img src="https://source.unsplash.com/featured/?dog" style="width:100%">

  </div>
  <div class="column">
    <img src="https://source.unsplash.com/featured/?car" style="width:100%">
    <img src="https://source.unsplash.com/featured/?tree" >


  </div>

  <div class="column">
    <img src="https://source.unsplash.com/featured/?sea" style="width:100%">
    <img src="https://source.unsplash.com/featured/?river" style="width:100%">
    <img src="https://source.unsplash.com/featured/?fish" style="width:100%">
    <img src="https://source.unsplash.com/featured/?temple" style="width:100%">

  </div>
</div> -->

<div class="container midText">
    <p class="subHead"> <img class=" img-fluid iconImg" src="../../../assets/image/topicIcon.png" alt=""> First IPCRG Conference 2017 </p>

    <div class="sub-container">
      <img src="../../../assets/image/eventGroup.png" alt="" class=" img-fluid mid-image">
    </div>


</div>
