

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="centered.toggle()"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center headerAcative"
        id="navbarCenteredExample"
        mdbCollapse
        #centered="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item  u-line">
            <a class="nav-link " aria-current="page" href="">Home</a>

          </li>
          <li class="nav-item u-line">
            <a class="nav-link " aria-current="page" href="aboutus">About Us</a>

          </li>
          <li class="nav-item u-line">
            <a class="nav-link " aria-current="page" href="our_network">Our Network</a>

          </li>
          <li class="nav-item u-line">
            <a class="nav-link " aria-current="page" href="pcrg">PCRG</a>

          </li>
          <li class="nav-item u-line">
            <a class="nav-link " aria-current="page" href="pcdg">PCDG</a>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropbtn " aria-current="page" >Educational Program</a>

            <div class="dropdown-content">
              <a href="educational_programs" class="u-line">COPD & ASTHMA</a>
              <a href="educational_programs2" class="u-line">CCEBDM</a>

            </div>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropbtn " aria-current="page" href="ourEvent">More</a>
            <div class="dropdown-content u-line">
              <a href="contactus"  class="u-line">Contact us</a>
              <a href="ourEvent" class="u-line">Our Events</a>
              <!-- <a href="#">Link 3</a> -->
            </div>



          </li>

        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>


