<div class="container top-container">

  <h2 class="body-head">The Certificte Course In Evidence Based <br> Diabetes Management (CCEBDM)</h2>

      <p class="sub-Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien pellentesque tellus lectus ut adipiscing.
           Sed tempus at pulvinar duis in mattis diam pretium. Vitae, netus integer magna tristique tortor. Magna commodo
            mi vel donec diam nec volutpat sodales. Sagittis sollicitudin velit vel tincidunt maecenas morbi congue ac diam.
             Euismod nibh in egestas laoreet magna ultrices. Hendrerit suspendisse duis viverra morbi. Quis nibh sit integer
             id scelerisque mauris nam.</p>

      <p class="sub-Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien pellentesque tellus lectus ut adipiscing.
          Sed tempus at pulvinar duis in mattis diam pretium. Vitae, netus integer magna tristique tortor. Magna commodo
           mi vel donec diam nec volutpat sodales. Sagittis sollicitudin velit vel tincidunt maecenas morbi congue ac diam.
            Euismod nibh in egestas laoreet magna ultrices. Hendrerit suspendisse duis viverra morbi. Quis nibh sit integer
            id scelerisque mauris nam.</p>



            <!-- <div class="text-center"> -->
              <button type="button" class="btn btn-primary">Enroll Now</button>
            <!-- </div> -->
</div>

<div class="container-fluid cv-back-up">
  <div class="duration">
      <h2 class="h2-text">Full Time</h2>
      <h1 class="h1-text">Duration</h1>
      <div class="text-left">
          <h2 class="h2-text2">08 Months</h2>
      </div>

  </div>

</div>

<div class="container-fluid cv-back">

  <div class="container course-highlight" >
      <h1 class="course">
          Course Highlights
      </h1>

      <div class="course-dec">
         <p class="point">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et imperdiet nulla</p>
         <p class="point">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et imperdiet nulla ut quis ultrices in. Ut sem mattis.</p>
         <p class="point">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et imperdiet nulla ut </p>
         <p class="point">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et imperdiet nulla ut quis ultric</p>
         <p class="point">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et imperdiet nulla ut quis ultrices in. Ut sem mattis.</p>
         <p class="point">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et imperdiet nulla ut quis ultrices </p>
         <p class="point">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et imperdiet nulla ut quis ultrices in. Ut sem mattis.</p>
      </div>
  </div>
</div>

<div class="container-fluid cv-back-down"></div>

<div class="container">
  <h2 class="body-head">Course Modules</h2>
  <div class="module">

      <!-- 1st row -->
      <div class="row" >
          <div class="col-md-6" >
              <div class="col-inside">
                  <p class="module-text"> <img src="../../../assets/image/topicIcon.png" alt=""> Module 01</p>

                  <p class="module-sub-text">
                      Introduction & overview of Asthma and chronic obstructive airways diseases.
                  </p>

                  <p class="module-sub-text1">
                      This module elaborates the pathogeniesis and pathophysiology of Asthma of COPD.
                  </p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="col-inside" >
                  <p class="module-text"> <img src="../../../assets/image/topicIcon.png" alt=""> Module 02</p>

                  <p class="module-sub-text">
                      Introduction & overview of Asthma and chronic obstructive airways diseases.
                  </p>

                  <p class="module-sub-text1">
                      This module elaborates the pathogeniesis and pathophysiology of Asthma of COPD.
                  </p>
              </div>
          </div>
      </div>

              <!-- 2nd row -->
              <div class="row" >
                  <div class="col-md-6" >
                      <div class="col-inside">
                          <p class="module-text"> <img src="../../../assets/image/topicIcon.png" alt=""> Module 03</p>

                          <p class="module-sub-text">
                              Introduction & overview of Asthma and chronic obstructive airways diseases.
                          </p>

                          <p class="module-sub-text1">
                              This module elaborates the pathogeniesis and pathophysiology of Asthma of COPD.
                          </p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="col-inside" >
                          <p class="module-text"> <img src="../../../assets/image/topicIcon.png" alt=""> Module 04</p>

                          <p class="module-sub-text">
                              Introduction & overview of Asthma and chronic obstructive airways diseases.
                          </p>

                          <p class="module-sub-text1">
                              This module elaborates the pathogeniesis and pathophysiology of Asthma of COPD.
                          </p>
                      </div>
                  </div>
              </div>

                      <!-- 3rd row -->
      <div class="row" >
          <div class="col-md-6" >
              <div class="col-inside">
                  <p class="module-text"> <img src="../../../assets/image/topicIcon.png" alt=""> Module 05</p>

                  <p class="module-sub-text">
                      Introduction & overview of Asthma and chronic obstructive airways diseases.
                  </p>

                  <p class="module-sub-text1">
                      This module elaborates the pathogeniesis and pathophysiology of Asthma of COPD.
                  </p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="col-inside" >
                  <p class="module-text"> <img src="../../../assets/image/topicIcon.png" alt=""> Module 06</p>

                  <p class="module-sub-text">
                      Introduction & overview of Asthma and chronic obstructive airways diseases.
                  </p>

                  <p class="module-sub-text1">
                      This module elaborates the pathogeniesis and pathophysiology of Asthma of COPD.
                  </p>
              </div>
          </div>
      </div>

              <!-- 4th row -->
              <div class="row" >
                  <div class="col-md-6" >
                      <div class="col-inside">
                          <p class="module-text"> <img src="../../../assets/image/topicIcon.png" alt=""> Module 07</p>

                          <p class="module-sub-text">
                              Introduction & overview of Asthma and chronic obstructive airways diseases.
                          </p>

                          <p class="module-sub-text1">
                              This module elaborates the pathogeniesis and pathophysiology of Asthma of COPD.
                          </p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="col-inside" >
                          <p class="module-text"> <img src="../../../assets/image/topicIcon.png" alt=""> Module 08</p>

                          <p class="module-sub-text">
                              Introduction & overview of Asthma and chronic obstructive airways diseases.
                          </p>

                          <p class="module-sub-text1">
                              This module elaborates the pathogeniesis and pathophysiology of Asthma of COPD.
                          </p>
                      </div>
                  </div>
              </div>


  </div>
</div>

<div class="container-fluid cv-back-up"></div>

<div class="container-fluid cv-back">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class=" gap">
                  <h2 class="body-sub-head"> Eligibility Criteria</h2>

                  <p class="module-sub-text2">
                      Doctors fully or provisionally registered in Sri Lanka Medical Council (SLMC).
                      (PCRG council has the final discretion on selection of participants for the course).
                  </p>
              </div>

              <div class=" gap">
                  <h2 class="body-sub-head">Duration</h2>

                  <p class="module-sub-text2">
                      The total duration for this course is 08 months ( one module per month).
                          It will be conducted every third Sunday from 9.0 a.m to 1.00 p.m. (4 hours of duration)

                  </p>
              </div>

              <div class=" gap">
                  <h2 class="body-sub-head"> Evaluation and Certification Criteria</h2>

                  <p class="module-sub-text2">
                      Attendance : Participants should attend at least 7 modules, including the pre - test and the post - test.
                      <br>
                      Award of the final certification : Compulsary attendance with 50% marks on the exam.
                  </p>
              </div>

          </div>

          <div class="col-md-4">
              <img src="../../../assets/image/leadyDoc.png" alt=""  class="leadyDoc">
          </div>
      </div>
  </div>


  <div class="container-fluid middle-cv-back-down">
      <img src="../../../assets/image/middleCVbottom.png" alt="" class="middle-cv-white">
  </div>


</div>

<div class="container-fluid">
  <div class="container">

      <h2 class="body-sub-head">Course Fee</h2>

      <h3 class="total">Total <span class="price"> RS 12 500.00</span> </h3>

      <p class="normal-text">(Rs 3500.00 should be paid at the beginning and the balance can be paid within 03 months).</p>

      <p class="normal-text" style="margin-top: 50px;">Course fee Payable Account Number - 101000035786</p>

      <p class="normal-text">NDB Bank by cheque or by a bank draft in favor of  - “Primary Care Respiratory Group”. <br>
          Cash deposites to the account please send the deposite slip with the application.</p>


          <a href="ccebdm">
            <button type="button" class="btn btn-primary">Enroll Now</button>
          </a>



  </div>
</div>

<div class="container" style="margin-top: 100px;">

  <h2 class="body-head">National Expert Panel</h2>

</div>

<div class="container-fluid panel-back">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="card-2">
              <div class="cd-image">
                  <img class="card-img-top " src="../../../assets/image/Dr Tilak Silva, President, PCRG.jpg" alt="Card-image-cap">
              </div>
              <div class="card-body">
                  <h5 class="card-title-2">Dr Tilak Silva </h5>
                  <h6 class="card-title-3">President - PCRG</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                      eget.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card-2">
              <div class="cd-image">
                  <img class="card-img-top" src="../../../assets/image/Dr.A.L.P.de S.Seneviratne , President PCDG.jpg" alt="Card-image-cap">
              </div>
              <div class="card-body">
                  <h5 class="card-title-2">Dr.A.L.P.de S.Seneviratne</h5>
                  <h6 class="card-title-3">President - PCRG</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                      eget.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <!-- <div class="card-2">
              <div class="cd-image">
                  <img class="card-img-top" src="../../../assets/image/card3.png" alt="Card-image-cap">
              </div>
              <div class="card-body">
                  <h5 class="card-title-2">DR.TILK SILVA</h5>
                  <h6 class="card-title-3">President - PCRG</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                      eget.</p>
              </div>
          </div> -->
      </div>

  </div>
  </div>
</div>

<!-- Managemant -->

<div class="container">
  <h2 class="body-head">Management</h2>

  <div class="row">
    <div class="col-md-4">
        <div class="card-2">
            <div class="cd-image">
                <img class="card-img-top" src="../../../assets/image/Dr Ananda  Perera, Council Member PCRG & PCDG.jpg" alt="Card-image-cap">
            </div>
            <div class="card-body">
                <h5 class="card-title-2">Dr Ananda  Perera</h5>
                <h6 class="card-title-3">Council Member PCRG & PCDG</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                    eget.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-2">
            <div class="cd-image">
                <img class="card-img-top" src="../../../assets/image/Dr Sarath  , Treasurer PCRG & PCDG.jpg" alt="Card-image-cap">
            </div>
            <div class="card-body">
                <h5 class="card-title-2">Dr Sarath</h5>
                <h6 class="card-title-3">Treasurer PCRG & PCDG</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                    eget.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-2">
            <div class="cd-image">
                <img class="card-img-top" src="../../../assets/image/Dr Seneth Samaranayake, Secretary PCRG AND PCDG.jpg" alt="Card-image-cap">
            </div>
            <div class="card-body">
                <h5 class="card-title-2">Dr Seneth Samaranayake</h5>
                <h6 class="card-title-3">Secretary PCRG AND PCDG</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                    eget.</p>
            </div>
        </div>
    </div>

</div>

<div class="row">
  <div class="col-md-4">
      <div class="card-2">
          <div class="cd-image">
              <img class="card-img-top" src="../../../assets/image/Dr.A.H.A.Hazari Council Member PCRG AND PCDG.jpg" alt="Card-image-cap">
          </div>
          <div class="card-body">
              <h5 class="card-title-2">Dr.A.H.A.Hazari Council</h5>
              <h6 class="card-title-3">Council Member PCRG & PCDG</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                  eget.</p>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card-2">
          <div class="cd-image">
              <img class="card-img-top" src="../../../assets/image/Dr.Lucian Jayasuriya , Advisor PCRG AND PCDG.jpg" alt="Card-image-cap">
          </div>
          <div class="card-body">
              <h5 class="card-title-2">Dr.Lucian Jayasuriya</h5>
              <h6 class="card-title-3">Advisor PCRG AND PCDG</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                  eget.</p>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card-2">
          <div class="cd-image">
              <img class="card-img-top" src="../../../assets/image/Dr.M.S.R.Mihilar Council Member PCRG AND PCDG.jpg" alt="Card-image-cap">
          </div>
          <div class="card-body">
              <h5 class="card-title-2">Dr.M.S.R.Mihilar Council</h5>
              <h6 class="card-title-3">Council Member PCRG AND PCDG</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                  eget.</p>
          </div>
      </div>
  </div>

</div>
</div>

<!-- Faculty -->


<div class="container" style="margin-top: 100px;">

  <h2 class="body-head">Faculty</h2>

</div>
<div class="container-fluid panel-back">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="card-2">
                  <div class="cd-image">
                      <img class="card-img-top" src="../../../assets/image/card1.png" alt="Card-image-cap">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title-2">DR.TILK SILVA</h5>
                      <h6 class="card-title-3">President - PCRG</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                          eget.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card-2">
                  <div class="cd-image">
                      <img class="card-img-top" src="../../../assets/image/card2.png" alt="Card-image-cap">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title-2">DR.TILK SILVA</h5>
                      <h6 class="card-title-3">President - PCRG</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                          eget.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card-2">
                  <div class="cd-image">
                      <img class="card-img-top" src="../../../assets/image/card3.png" alt="Card-image-cap">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title-2">DR.TILK SILVA</h5>
                      <h6 class="card-title-3">President - PCRG</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                          eget.</p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="card-2">
                  <div class="cd-image">
                      <img class="card-img-top" src="../../../assets/image/card4.png" alt="Card-image-cap">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title-2">DR.TILK SILVA</h5>
                      <h6 class="card-title-3">President - PCRG</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                          eget.</p>
                  </div>
              </div>
          </div>

      </div>
  </div>




</div>

<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="card-2">
              <div class="cd-image">
                  <img class="card-img-top" src="../../../assets/image/card1.png" alt="Card-image-cap">
              </div>
              <div class="card-body">
                  <h5 class="card-title-2">DR.TILK SILVA</h5>
                  <h6 class="card-title-3">President - PCRG</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                      eget.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card-2">
              <div class="cd-image">
                  <img class="card-img-top" src="../../../assets/image/card2.png" alt="Card-image-cap">
              </div>
              <div class="card-body">
                  <h5 class="card-title-2">DR.TILK SILVA</h5>
                  <h6 class="card-title-3">President - PCRG</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                      eget.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card-2">
              <div class="cd-image">
                  <img class="card-img-top" src="../../../assets/image/card3.png" alt="Card-image-cap">
              </div>
              <div class="card-body">
                  <h5 class="card-title-2">DR.TILK SILVA</h5>
                  <h6 class="card-title-3">President - PCRG</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus eget
                      eget.</p>
              </div>
          </div>
      </div>

  </div>
</div>




