<div class="container">
  <div class="row">
      <div class="col-md-8">
          <div class="row">
              <div class="col-md-2">
                  <img src="../../../assets/image/logoPCRG.png" alt="" class="icon-Image">
              </div>
              <div class="col-md-10">
                  <h2 class="body-head">Primary Care Respiratory Group
                    (PCRG)</h2>

              </div>
          </div>
        </div>
        <div class="row flip">
          <div class="col-md-8">
            <p class="sub-Text" >The Primary Care Respiratory Group – Sri Lanka (PCRGSL) is a professional
              association comprised primarily of Primary Care Physicians with a special interest in the treatment
              of respiratory system-related disorders in the community. PCRGSL is a full member of the International
               Primary Care Respiratory Group (IPCRG), a globally recognized organization in this field (www.theiperg.org).
               Since its start, PCRGSL has held annual respiratory conferences as well as provincial CME sessions in respiratory
               medicine (2006). In 2017, we had a very successful international scientific conference with over 300 delegates from all
                around the world. </p>
          </div>

          <div class="col-md-4 three-image">
            <img src="../../../assets/image/three-image.png" alt="" class="threeImage">
          </div>
        </div>



  </div>

</div>

<div class="container-fluid cv-back">

  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="../../../assets/image/Group 613.png" alt=""  class="img-fluid double-img">
          </div>
          <div class="col-md-8 mid-dec">
              <h2 class="body-head" style="margin-top: 50px; margin-left: 40px;">COPD and Asthma</h2>

                  <p class="sub-text" style="margin-left: 40px;">We have built this unique 8 module course into a
                     highly effective capacity building academic program, which will undoubtedly boost your clinical
                      abilities in day-to-day practice, with the direction of top Pulmonologists in Sri Lanka as national
                       specialists and a committed academic staff from PCRGSL. <br><br>

                    Because our primary goal is to educate and update our Primary Care Physicians, we have signed a
                     Memorandum of Understanding (MOU) with the Public Health Foundation of India (PHFI) to provide
                      this unique course in Asthma and COPD Management (CCCA) to Sri Lanka at a very low cost.</p>

          </div>
      </div>




  </div>

</div>

<div class="container footer-contain">
  <div class="row">
      <div class="col-md-6">

        <div class="row image-section">
          <div class="col-md-1 image-col "><img src="../../../assets/image/topicIcon.png" class="img-fluid iconImage" alt="Responsive image"></div>
          <div class="col-md-11 colMainTopic">
              <p>

                Sign up for the Course
              </p>
            </div>

            <div class="sub-dec" >
              <p class="sub-description">The prevalence of asthma among 5-11 aged children varies between 13 -25% making it the
                 most common non-communal disease among children. Asthma is one of the most managed NCD’s by the primary care physicians.  </p>

              <div class="explore">
                  <a href="pcrg_form" class="stretched-link">Explore More  <img src="../../../assets/image/arrow.png"></a>
              </div>
            </div>

        </div>

      </div>
      <div class="col-md-6">

          <div class="card">
              <div class="row">
                  <div class="col-md-7">
                      <div class="card-body">
                          <h5 class="card-title"><img src="../../../assets/image/enrall.png" alt="" >  &nbsp;&nbsp;&nbsp; Enroll Now</h5>
                          <p class="card-text">Certificate Course in Management of copd & asthma</p>
                          <a href="educational_programs" class="btn btn-primary">Join With Us &nbsp;&nbsp;&nbsp;  <img src="../../../assets/image/whiteArrow.png"></a>
                        </div>
                  </div>
                  <div class="col-md-5">
                      <img src="../../../assets/image/course1.png" alt="" class="img-fluid card-img">
                  </div>

              </div>


            </div>

      </div>

  </div>

</div>
