<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 "
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">

      </div>
      <!-- Left -->


    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container ">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-8 col-lg-9 col-xl-8 mx-auto mb-9">
            <!-- Content -->
            <div class="row">
                <h5 class=" col-md-2  fw-bold mb-4">
                     <a href="home">Home</a>
                </h5>
                <h5 class=" col-md-2 fw-bold mb-4">
                   <a href="aboutus">About Us</a>
                </h5>
                <h5 class=" col-md-2  fw-bold mb-4">
                   <a href="our_network">Our Network</a>
                </h5>
                <h5 class=" col-md-3  fw-bold mb-4">
                  <a href="educational_programs">Educational Programmes</a>

                </h5>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="leftText">
                      <p>We Are A Movement Of <b>Unconventional</b>   Facilitators
                          We Are A Movement Of Facilitators    </p>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="rightText">
                    <p> <i class="far fa-envelope me-3"></i> pcrgsrilanka@gmail.com</p>
                    <p><img src="../../../assets/image/phoneIcon.png " > &nbsp;&nbsp;&nbsp;
                      0112 501113 / 077 167 4913</p>
                  </div>
                </div>
            </div>
          </div>
          <!-- Grid column -->



          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <p class="left_left_top">
                Let's Talk
              </p>

              <p class="Left_left_body">
                Don't miss any updates and news.!
              </p>

              <mdb-form-control>
                <input mdbLabel type="email" id="typeEmail" class="form-control" />
                <label mdbInput class="form-label" for="typeEmail">Email</label>
              </mdb-form-control>
              <br>

              <button type="button" class="btn">Subscribe</button>
          </div>

        </div>

      </div>
    </section>

    <div class="container">
      <hr style="border-width:0;color:gray;border: 1px solid #535353;">
    </div>


    <!-- Copyright -->
    <div class="container ">

      <div class="row">
        <div class="col-md-6" >
            <div class="bottomTextleft">
              <p> Copyright 2022. All Rights Reserved</p>
            </div>
        </div>
        <div class="col-md-6 " >
          <div class=" mx-auto mb-md-0 mb-4">
            <div class="footerBottom">
              <div class="row">
                  <div class="col-md-8">
                    <div routerLink="#" fragment="anchor1" class="footer-end">Privacy Policy </div>
                  </div>
                  <div class="col-md-4">
                    <div routerLink="#" fragment="anchor2" class="footer-end">Terms and Conditions</div>
                  </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>


    <!-- Copyright -->
  </footer>
  <!-- Footer -->
