<section class=" masthead">

  <div class="w-100 h-100" style="position: absolute; bottom: 0%;">
    <div class="container h-100 header-container" >
      <div class="row h-100">

          <div class="col-5 hero-description">
              <div class="topLeftText">
                  <p>
                      Helping relieve <br>
                      <span class="h2Text">Respiratory Diseases</span>
                       and <br>
                       <span class="h2Text">Diabetes mellitus</span> <br>
                      in the Community
                  </p>


                  <button type="button" class="btn head-btn ">Find Our Courses</button>
              </div>
          </div>
          <div class="col-7 col-hero-image">
            <div class="img-wrapper">
              <img class=" img-fluid hero-image" src="../../../assets/image/homeTopDoc2.png" >
            </div>
          </div>
      </div>


  </div>

  </div>



    <div class="headerbottomImage">
      <img src="../../../assets/image/middleCVbottom.png" alt=""  class=" img-fluid headFootImg">
    </div>


  </section>

<div class="container-fluid">

  <div class="trans-bg">
    <div class="row">
      <div class="col-md-6 bgup">
        <!-- <div class="leftImg"></div> -->

      </div>
      <div class="col-md-6 bgup" >
        <!-- <div class="rightImg"></div> -->
      </div>

    </div>
  </div>

  <div class="container body-container" >
    <h2 class="body-head">Who we are</h2>

    <p class="body-subText">PCRG <span class="low-text">&</span> PCDG</p>

    <p class="body-text">organisations consists of primary care physicians of Sri Lanka who have special interest
        and vast exposure in this both medical disciplines , now joined hands together to learn and
         educate peers in research and new developments in respiratory and diabetes management at primary
          care level in Sri Lanka.</p>



          <div class="row image-section">
            <div class="col-md-1 image-col "><img src="../../../assets/image/topicIcon.png" class="img-fluid iconImage" alt="Responsive image"></div>
            <div class="col-md-4 colMainTopic">
                <p>

                    PCRG <br>
                    (Primary Care Respiratory Group)
                </p>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
               <div class="col-md-4">
                <p class="sub-description">The prevalence of asthma among 5-11 aged children varies between 13 -25% making it the most
                  common non-communal disease among children. Asthma is one of the most managed NCD’s by the
                  primary care physicians. </p>

                  <div class="explore">
                     <a href="#" class="stretched-link">Explore More  <img src="../../../assets/image/arrow.png"></a>
                  </div>
               </div>

               <div class="col-md-7 ">
                <img src="../../../assets/image/respiratoty.png" class="img-fluid imageup " alt="Responsive image">
              </div>
            </div>
          </div>

          <div class="row image-section">
            <div class="col-md-1 image-col "><img src="../../../assets/image/topicIcon.png" class="img-fluid iconImage" alt="Responsive image"></div>
            <div class="col-md-4 colMainTopic">
                <p>

                  PCDG <br>
                  (Primary Care Diabetic Group)
                </p>
              </div>
              <div class="row">
                <div class="col-md-1"></div>
               <div class="col-md-4">
                <p class="sub-description">Sri Lanka too is seeing an increase in the cases of diabetes. Acccroding to recent statistics by
                  the Internantional dibetes federation, the prevalence of diabetes among adults in Sri lanka is 8.5%. </p>

                  <div class="explore">
                     <a href="#" class="stretched-link">Explore More  <img src="../../../assets/image/arrow.png"></a>
                  </div>
               </div>

               <div class="col-md-7 ">
                <img src="../../../assets/image/diabetic.png" class="img-fluid imageup" alt="Responsive image">
              </div>
            </div>
          </div>


          <div class="row  course-row">
            <h2 class="body-head">Our Courses</h2>
            <div class="col-sm-6 cardRes">
              <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body center-body">
                            <h5 class="card-title"><img src="../../../assets/image/enrall.png" alt="" >  &nbsp;&nbsp;&nbsp; Enroll Now</h5>
                            <p class="card-text center-text">The Certificte Course In Evidence Based Diabetes Management (CCEBDM)</p>
                            <a href="ccebdm" class="btn btn-primary card-btn">Join With Us &nbsp;&nbsp;&nbsp;  <img src="../../../assets/image/whiteArrow.png"></a>
                          </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="course1">
                        <img src="../../../assets/image/course1.png" alt="" class="img-fluid card-img imgRes">
                      </div>

                    </div>

                </div>


              </div>
            </div>
            <div class="col-sm-6 cardRes">



              <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body center-body">
                            <h5 class="card-title"><img src="../../../assets/image/enrall.png" alt="" >  &nbsp;&nbsp;&nbsp; Enroll Now</h5>
                          <p class="card-text center-text">Certificate course in Management of copd & asthma.</p>

                          <a href="copd" class="btn btn-primary card-btn">Join With Us &nbsp;&nbsp;&nbsp;  <img src="../../../assets/image/whiteArrow.png"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="course1">
                        <img src="../../../assets/image/course2.png" alt="" class="img-fluid imgRes">
                      </div>

                    </div>

                </div>

              </div>
            </div>
          </div>

</div>
</div>





<div  class=" middle-body" >

  <div class="container middle-text-area">
    <div class="row">
      <div class="col-md-8 membership" >
        <h2 class="body-head middle-head">Membership Benefits</h2>
          <div class="row">
            <div class="col-md-1 iconImg">
              <img src="../../../assets/image/trueTopicIcon.png" alt="" class="img-fluid ">
            </div>
            <div class="col-md-11 iconTxt">
              <p class="middle-icon-text">Achieve the latest updates in Respiratory and Diabetic management in primary care setting. </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1 iconImg ">
              <img src="../../../assets/image/trueTopicIcon.png" alt="" class="img-fluid ">
            </div>
            <div class="col-md-11 iconTxt">
              <p class="middle-icon-text">Free access to program and conferences organised by PCRG and PCDG.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">

        <div class="middle-CV-middle">
          <div class="row">
            <div class="col-md-7  middle-left-dec">
              <h3 class="middle-left-text">Want to become a member?</h3>
              <!-- <button type="button" class="btn btn-primary apply-btn">Apply</button> -->
              <a href="contactus"  class="btn btn-primary apply-btn"> Apply</a>
            </div>
            <div class="col-md-5 column5">
              <img src="../../../assets/image/middleDoc.png" alt="" class="middle-doc">
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <!-- <div class="middle-down">
    <img src="../../../assets/image/middleCVbottom.png" alt="" class=" img-fluid middle-CV-bottom">
  </div> -->

</div>


<!-- Our Recognitions and Achievements -->

<div class="container recognitions">

  <h2 class="body-head">Our Recognitions and Achievements</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card-2" >
        <div class="image-center">
          <img class="card-img-top" src="../../../assets/image/card1image.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title-2">International Primary Care Respiratory Group (IPCRG)</h5>
          <p class="card-text-2">International Primary Care Respiratory Group (IPCRG) UK based the
             most recognised international organization for respiratory medicine for primary care physicians ,
              has granted us their membership ( visit www.ipcrg.org).</p>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-2" >
        <div class="image-center">
          <img class="card-img-top" src="../../../assets/image/card2image.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title-2">Symposia</h5>
          <p class="card-text-2">Annually we organise symposia in both respiratory and diabetic updates for primary care physicians.</p>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-2" >
        <div class="image-center">
          <img class="card-img-top" src="../../../assets/image/card2image.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title-2">IPCRG - South Asian Scientific Conference in Respiratory Medicine</h5>
          <p class="card-text-2">Successfully conducted the first ever IPCRG - South Asian Scientific Conference in Respiratory Medicine on 2017.</p>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <swiper
      [navigation]="true"
      class="mySwiper"
      [slidesPerView]="3">
      <ng-template swiperSlide><img src="../../../assets/image/slide1.png" alt="" class="slideImg"></ng-template
      ><ng-template swiperSlide><img src="../../../assets/image/slide2.png" alt="" class="slideImg"></ng-template
      ><ng-template swiperSlide><img src="../../../assets/image/slide3.png" alt="" class="slideImg1"></ng-template
      ><ng-template swiperSlide><img src="../../../assets/image/slide1.png" alt="" class="slideImg"></ng-template
      ><ng-template swiperSlide><img src="../../../assets/image/slide2.png" alt="" class="slideImg"></ng-template
      ><ng-template swiperSlide><img src="../../../assets/image/slide3.png" alt="" class="slideImg1"></ng-template
      ><ng-template swiperSlide><img src="../../../assets/image/slide1.png" alt="" class="slideImg"></ng-template
      ><ng-template swiperSlide><img src="../../../assets/image/slide2.png" alt="" class="slideImg"></ng-template
      ><ng-template swiperSlide><img src="../../../assets/image/slide3.png" alt="" class="slideImg1"></ng-template>
    </swiper>
  </div>

</div>







