
.masthead {

    height: 80vh;
    background-image: url("../../../assets/image/homeHeader.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .trans-bg{
    width: 100%;
    height: 10px;
    // background-color: red;
  }

  .leftImg{
    background-image: url('../../../assets/image/Leftbachground.png');
    width: 50%;
    height: 1000px;
    z-index: -1;
    position: relative;
    left: 0;
    top: 50%;
    background-repeat: no-repeat;
  }

  .rightImg{
    background-image: url('../../../assets/image/RightBackgrond.png');
    width: 17%;
    height: 1000px;
    z-index: -1;
    position: relative;
    left: 82%;
    right: 82%;
    top: 50%;
    background-repeat: no-repeat;
  }




  .hero-description {
    display: flex;
    align-items: center;
    height: 90%;
    // width: 100%;
  }

.header-container{
  position: relative;
  bottom: 0;
  align-items: center;
}


  .topLeftText p{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    backdrop-filter: blur(2px);
    line-height: 1.5;

}

.btn{
    background-color: #001E6F;
    color: #FFFFFF;
    text-transform: none;
    border-radius:10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 30px;
    align-items: center;
    text-align: center;

}

.btn-primary:hover {
  color: #fff;
  background-color: #001E6F;}

  .topLeftText .h2Text{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 48px;
    color: #000000;

  }



  .hero-image{
    background-repeat: no-repeat;
    z-index: 1;
    scale: 1;
  }

  .headFootImg{
    width: 100%;

    z-index: 3;
    height: 100%;

  }

  .img-wrapper{
    position: absolute;
    bottom: 0%;
  }

  .col-hero-image{
    position: relative;

  }






//   body style

.body-container{
    margin-top: 5rem;
}
.body-head{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 136.8%;
    color: #000000;
    margin-top: 70px;
}

.mat-typography h2 {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 136.8%;
  color: #000000;
  // margin-top: 70px;
}
.body-subText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 2.0vw;
    line-height: 161%;
    text-align: justify;
    color: #001E6F;
}

.low-text{
    font-size: large;
}

.body-text{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.2vw;
    line-height: 161%;
    text-align: justify;
}

.colMainTopic{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 20px;
    position: relative;
    top: 6.25rem;
}
.sub-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 176.52%;
    color: #737373;
    position: relative;
    top: 6.25rem;
}

.iconImage{
    margin-top: 30px;
    position: relative;
    top: 6.25rem;

}

.image-section{
    margin-top: 40px;
}

.explore{

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 176.52%;
color: #000000;
position: relative;
top: 6.25rem;
}
a{
    color: #000000;
}

.course-row{
  margin-top: 10rem;
}

.middle-body{
  background-image: url('../../../assets/image/cvBack.png');
  background-repeat: no-repeat;
  bottom: 0;
  background-size: cover;
  height: 61vh;
  margin-top: 100px;
}

.card{
min-height: 300px;
background: linear-gradient(180deg, rgba(237, 245, 255, 0) 0%, #DDEDFF 100%);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;

}

.card-img{
    position: relative;
    bottom: -15px;
}

.middle-CV-top{
    height: 10vh;
    position: absolute;
    top: 0;
    width: 100%;
}
.middle-CV-bottom{
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.middle-head{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 3.0vw;
    line-height: 136.8%;
    color: #000000;
    margin-top: 120px;
}

.imageup{
  border-radius: 4%;
}


.middle-left-dec{
  text-align: center;
  height: 50vh;
  align-items: center;
  position: relative;
  justify-items: center;

}



.membership{
  align-content: center;
  align-items: center;
  align-self: center;
}
.body-head{
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 136.8%;
  color: #000000;

}

.middle-icon-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #000000;
}

.middle-CV-middle{
  background-image: url("../../../assets/image/middleCVmiddle.png");
  width: 140%;
  height: 61vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;



}

.middle-left-dec{
  text-align: center;
  height: 50vh;
  align-items: center;
  position: relative;
  justify-items: center;

}

.middle-left-text{
  font-family: 'El Messiri';
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  left: 30px;
  top: 100px;

  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 47px;
  text-align: center;

  color: #393939;
}

.apply-btn{
  position: relative;
  left: 25px;
  top: 120px;
  border-radius: 25px;

  font-size: 0.8vw;
}

.middle-doc{

  position: relative;
  top: 110px;
  right: 50px;
}

// Our Recognitions and Achievements

.recognitions{
    margin-top: 100px;
}


.card-img-top{
    width: 40%;

}
.image-center{
    align-items: center;
    text-align: center;
    justify-items: center;

}

.card-title-2{
    align-items: center;
    text-align: center;

    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #393939;
    min-height: 50px;
}
.card-text{
    align-items: center;
    text-align: center;
    width: 300px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #000000;

}
.center-text{
  margin-top: 30px;
  margin-bottom: 30px;
}
.center-body{
  margin-top: 40px;
  margin-left: 50px;
}

.recognitions .body-head{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-text-2{
  align-items: center;
  text-align: center;

  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;

}

h3.middle-left-text {
  font-size: 30px;

font-family: 'El Messiri';
font-style: normal;
font-weight: 600;
line-height: 47px;
text-align: center;
margin: auto;
margin-left: 50px;
margin-right: 50px;

color: #393939;
}

// slider


@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper{
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.swiper-slide img {
  display: block;

  object-fit: cover;
}

.slideImg{
  width: 50%;
  height:50% ;
  align-items: center;

}

.slideImg{
  width: 40%;
  height: 50%;
  align-items: center;
  min-height: 90px;
  justify-content: center;

}
.swiper-wrapper{
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 2560px) {
  // .hero-image{
  //   scale: 1.4;
  // }
  // .img-wrapper{
  //   bottom: 13%;

  // }

  // .headFootImg{
  //   height: 200px;
  //   bottom: 4%;
  // }
.middle-CV-middle{
  width: 140%;
  height: 61vh;
}

}

@media screen and (max-width: 1440px) {
// .headFootImg{
//   position: absolute;
//   bottom: 0%;
//   height: 125px;
// }
.card-btn{
  width: max-content;
}
.center-body{
  margin: 0;
}

.card{
  min-height: 86%;
  margin-top: 50px;
}
.card-img{
  position: relative;
  bottom: -20px;
}

.middle-CV-middle{
  width: 113%;
  height: 61vh;
}

// .hero-image{
//   scale: 1;
// }
.hero-description{
  position: relative;
 // left: 25%;
}
.hero-description{
 // left: 10%;
}

.topLeftText p{
  font-size: 30px;
}
.h2Text{
  font-size: 45px;
}
// .img-wrapper{
//   bottom: 0;
//}

.rightImg{
  width: 34%;
  left: 72%;
}



}


@media only screen and (max-width: 1024px) {
  .body-head{
    font-size: 37px;
  }
  .middle-icon-text{
    font-size: 15px;
  }

  .middle-CV-middle{
    width: 111%;
    height: 61vh;
}

h3.middle-left-text {

  margin-top: 15px;
  font-size: 20px;
  line-height: 100%;
  position: relative;
  left: 0%;
  right: 0%;
  font-weight: 700;
  bottom: 0;
  top: 20%;
}
.apply-btn{
font-size: 20px;
position: relative;

left: 0;
right: 0;
bottom: 0;
top: 20%;
}
.middle-doc{
position: relative;
bottom: 18%;

width: 180%;
right: 71%;
top: 18%;

}
// .headFootImg{
//   height: 100px;
// }

.hero-description{
 // left: 15%;
}

.middle-body{
  height: 50%;
}

.middle-CV-middle{
  height: 50vh;
  width: 100%;
}

.topLeftText p{
  font-size: 25px;
}
.topLeftText .h2Text{
  font-size: 35px;
}
.btn{
  line-height: 13px;
}

.rightImg{
  left: 63%;
  width: 48%;
}


}


@media screen and (max-width: 767px) {

  .hero-description{
  //  left: 0;
   // width: 50%;
  }
  // .img-wrapper{
  //   width: 70%;
  //   right: -10%;
  // }

  .masthead {
    height: 60vh;
  }
.iconImage{
  top: 0;
}
.image-col{
  width: 10%;
}
.colMainTopic{
  width: 90%;
  top: 0;
}
.sub-description{
  top: 0;
}

  // .headFootImg {
  //   position: absolute;
  //   bottom: 28%;
  //   height: 60px;
  // }
  .body-text{
    font-size: 2vw;
  }
  .center-body{
    margin: 0;
  }
  .card-btn{
    width: max-content;
  }
  .card-text{
    font-size: 14px;
    width: 22vh;
    width: 70%;
  }
  .card-img{
    bottom: 0;
  }
  .course1{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .cardRes{
    width: 100%;
  }
  .imgRes{
    width: 50%;
    position: relative;
    left: 42%;
  }



  .header-top{

    height: auto;
  }
  .middle-body{
    height: 100vh;
  }
  .middle-CV-middle{
    width: 100%;
    height: 40vh;
}
.membership{
  margin-top: 20%;
}
.iconImg{
  width: 10%;
}
.iconTxt{
  width: 90%;
}


.body-head{
  font-size: 34px;
}
.middle-icon-text{
  font-size: 13px;
  line-height: 1.5;
}
.apply-btn{
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}
.middle-left-dec{
  width: 50%;

}
.column5{
  width: 50%;
}
.middle-doc{
  width: 100%;
  right: 0%;
  top: 0%;
  bottom: 0%;

}

.middle-left-dec{
  height: 26vh;
}

.topLeftText p{
  font-size: 20px;
}
.topLeftText .h2Text{
  font-size: 25px;
}

.rightImg{
  left: 27%;
  width: 61%;
}
}

@media screen and (max-width: 768px) {
  .middle-left-dec{
    height: 26vh;
  }

  .topLeftText p{
    font-size: 20px;
  }
  .topLeftText .h2Text{
    font-size: 25px;
  }

  .rightImg{
    left: 54%;
  }

  .middle-icon-text{
    line-height: 20px;
    font-size: 13px;
  }

  .middle-body{
    height: 36%;
  }
  .middle-CV-middle{
    height: 36vh;
  }

  .middle-head{
    margin-bottom: 10px;
  }
  .middle-doc{
    width: 75%;
  }

}

  @media screen and (max-width: 425px) {


    .hero-description{
     // width: 100%;
     // left: 5%;
    }
    // .img-wrapper{
    //   width: 100%;
    //   right:0;
    // }
    .masthead {
      height: 100vh;
      }
      // .hero-image{
      //   scale: 1;
      // }
      // .headFootImg {
      //   position: absolute;
      //   bottom: -20%;
      //   height: 7%;
      // }
      .topLeftText{
        margin: auto;
        position: relative;
        bottom: 15%;
      }
      .topLeftText p{
        font-size: 4vw;
      }
      .topLeftText .h2Text{
        font-size: 5vw;
      }

      .btn{
        font-size: 3vw;
      }
      .body-text{
        font-size: 4vw;
      }
      .imageup{
        position: relative;
        top: 20%;
      }
      .sub-description{
        top: 20%;
      }
      .explore{
        top: 20%;
      }
      .mat-typography h2 {
        font-size: 6vw;
      }
      .body-subText{
        font-size: 4vw;
      }
      .iconImage{
        top: 0;
      }
      .colMainTopic{
        top: 0;
        width: 75%;
      }
      .image-col{
        width: 20%;
      }

      .course1{
       right: 0;
       width: 50%;
      }

      .middle-body{
        height: 100vh;
        margin-bottom: 150px;
      }
      .membership{
        margin-top: 130px;
      }
      .body-head{
        font-size: 32px;
      }
      .middle-left-text{
        font-size: 20px;
        margin: 50px;
        position: relative;
        left: 25%;
        right: 0;
        bottom: 0;
        top: 20%;
        width: 50%;
      }
    .apply-btn{
      font-size: 20px;
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      top: 20%;
    }
    .middle-doc{
      position: relative;
      left: 55%;
      width: 45%;
      top: -75%;

    }
    .middle-CV-middle{
      width: 100%;
      height: 33vh;

    }
    .iconImg{
      width: 10%;
    }
    .iconTxt{
      width: 90%;
    }
    .middle-left-dec{
      width: 70%;

    }
    .column5{
      width: 30%;
    }
    .middle-doc{
      width: 100%;
      right: 0%;
      top: 30%;
      left: -20%;
      bottom: 0%;
      scale: 1.5;

    }
    .bgup{
width: 50%;
    }
.rightImg{
  left: 11%;
  width: 100%;
}

  }
.headerbottomImage{
  position: absolute;
  bottom: 0%;
  height: 15vh;
  width: 100%;
}
