<div class="container top-container">

    <h2 class="body-head">Contact Us</h2>

</div>

<div class="container-fluid cv-back-up"></div>

<div class="container-fluid cv-back">
    <div class="container">
        <div class="row  flip">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-7 ">
                        <div class="row iconCol">
                            <div class="col-md-2 colLeft">
                                <img src="../../../assets/image/locationIcon.png" alt="" class="img-fluid">
                            </div>
                            <div class="col-md-10 colRight">
                                <p class="text"> Professional Centre, 275/75 <br>
                                    Prof. Stanley Wijesundara Mawatha, Colombo 7</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 ">
                        <div class="row iconCol">
                            <div class="col-md-2 colLeft">
                                <img src="../../../assets/image/blackMailIcon.png" alt=""  class="img-fluid">
                            </div>
                            <div class="col-md-10 colRight">
                                <p class="text">pcrgsrilanka@gmail.com</p>
                            </div>
                        </div>
                        <div class="row iconCol">
                            <div class="col-md-2 colLeft">
                                <img src="../../../assets/image/blackPhoneIcon.png" alt=""  class="img-fluid">
                            </div>
                            <div class="col-md-10 colRight">
                                <p class="text"> 0112 501113 / 077 167 4913</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-area">
                    <h3 class="h3Text"> Come and join our mailing list</h3>

                    <!-- form start -->
                    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
                        <div class="form row mb-4">
                          <div class="form-group col-md-6">
                            <input type="text"  class="form-control" #username value="textname" placeholder="Name" formControlName="username" required
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                              <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <input type="tex" class="form-control" #useremail value="textemail" placeholder="Email"formControlName="useremail" required
                            [ngClass]="{ 'is-invalid': submitted && f.useremail.errors }">

                            <div *ngIf="submitted && f.useremail.errors" class="invalid-feedback">
                              <div *ngIf="f.useremail.errors.required">Email is required</div>
                              <div *ngIf="f.useremail.errors.email">Email is invalid</div>
                            </div>
                          </div>


                        </div>

                        <textarea class="form-control" #message value="textmessage" rows="3" placeholder="Message" formControlName="usermassage" required
                        [ngClass]="{ 'is-invalid': submitted && f.usermassage.errors }"></textarea>

                        <div *ngIf="submitted && f.usermassage.errors" class="invalid-feedback">
                          <div *ngIf="f.usermassage.errors.required">Massage is required</div>
                        </div>
                        <br><br>





                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="newsLetter" >
                            <label class="form-check-label" for="gridCheck">
                                Subscribe to our NewsLetter
                            </label>
                          </div>

                        </div>


                      </form>
                      <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>

                    <!-- form-end -->

                </div>
            </div>
            <div class="col-md-5 col-10">
                <img src="../../../assets/image/Group 614.png" alt="" class="image-three w-100" >
            </div>
        </div>
    </div>


</div>

<div class="container-fluid cv-back-down"></div>
