.top-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.body-head{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 136.8%;
    color: #000000;
    margin-bottom: 75px;

}
.colRight{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #535353;
}

.cv-back{
    background: #E5F1FF;
    height: auto;
    margin: 0px;
    padding: 0;
    background-size: cover;
    width: 100%;

}

.cv-back-up{
    background-image: url('../../../assets/image/cvBackup.png');
    margin: 0;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.cv-back-down{
    background-image: url('../../../assets/image/cvBackdown.png');
    height: 40vh;
    margin: 0px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 40px;
    padding: 0;
    z-index: -1;
    background-size: cover;
    width: 100%;

}
.iconCol{
    margin-top: 20px;
}

.form-control{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    border: none;
    color: #878787;
    min-height: 40px;

}
#exampleFormControlTextarea1{
    min-height: 150px;
    margin-bottom: 20px;

}
.form-check-input{
    border-radius: 5px;
    border-width: 1px;
}

.form-check-label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #303030;
}
.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #535353;

}

.h3Text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136.8%;
    color: #000000;
}

.form-area{
    margin-top: 75px;
}

.btn{
    background-color: #001E6F;
    color: #FFFFFF;
    text-transform: none;
    border-radius:10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    width: 200px;
    position: relative;
    float: right;
    ;
}

.image-three{
    width: 100%;
    position: relative;
    bottom: 200px;
    left: 50px;
}


@media only screen and (max-width: 767px) {
  .colLeft{
    width: 10%;

  }

  .colRight{
    width: 90%;

  }
  .flip{
    display: flex !important;
  flex-direction: column-reverse;
  }


.double-img{
  margin-top: 0;
}
.cv-back-up{
  height: 10vh;
}
.image-three{
  bottom: 0;
  left: 0;
}
.cv-back-down{
  height: 10vh;
  bottom: 17px;
}
.body-head{
  font-size: 40px;
}

.btn{
  font-size: 18px;
}
}


@media only screen and (max-width: 425px) {
  .colLeft{
    width: 10%;

  }

  .colRight{
    width: 90%;

  }
  .flip{
    display: flex !important;
  flex-direction: column-reverse;
  }


.double-img{
  margin-top: 0;
}
.cv-back-up{
  height: 10vh;
}
.image-three{
  bottom: 0;
  left: 0;
}
.cv-back-down{
  height: 10vh;
  bottom: 17px;
}
.body-head{
  font-size: 40px;
}

.btn{
  font-size: 18px;
}
}
