<div class="container-fluid">
  <div class="container">
    <h2 class="body-head mt-5">About Us</h2>

    <h4 class="head-sub-text"> Primary care respiratory group & primary care diabetic group</h4>
    <p class="sub-text">
        organisations consists of primary care physicians of Sri Lanka who have special  interest
         and vast exposure in this both medical disciplines , now joined hands together to learn
          and educate peers in research and new developments in respiratory and diabetes management at
            primary care level in Sri Lanka.</p>
  </div>
</div>



<div class="container-fluid h-100 box-down" style="padding: 0;">
<div class="cv-back h-100">
  <div class="cardBacka"><img src="../../../assets/image/cvBack.png" alt="" class="imageback"></div>

<div class="container h-100 boxs" >
  <div class="carddesk h-100">

    <div class="row align-self-center mx-auto h-100">
      <div class="col-md-3 card-normal h-100">
        <div class="card h-100" >
          <div class="card1 h-100">
            <img src="../../../assets/image/aboutCard1.png"  alt="..." class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-3 card-up h-100 " >
        <div class="card h-100" >
          <div class="card2 h-100">
            <img src="../../../assets/image/aboutCard2.png"  alt="..." class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-3 card-down h-100">
        <div class="card h-100" >
          <div class="card3 h-100">
            <img src="../../../assets/image/aboutCard3.png"  alt="..." class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-3 card-middle h-100">
        <div class="card h-100" >
          <div class="card4 h-100">
            <img src="../../../assets/image/aboutCard4.png" alt="..." class="img-fluid">
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


</div>


</div>

<div class="container h-100 rounds " style="position: relative;">
<div class="row h-100">
    <div class="col-md-4 round-down">
      <div class="card bg-lite text-black round1">
        <img src="../../../assets/image/blue-circle.png" class=" img-fluid card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title c-title ">Vision</h5>
          <p class="card-text c-text">Our vision is of a global population breathing and feeling well through universal access to right care.</p>

        </div>
      </div>
    </div>


    <div class="col-md-4 round-up">
      <div class="card bg-lite text-black round2">
        <img src="../../../assets/image/blue-circle.png" class=" img-fluid card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title c-title ">Mission</h5>
          <p class="card-text c-text">Our mission is to work locally in primary care and collaborate globally to improve respiratory health and diabetics.</p>

        </div>
      </div>
    </div>


    <div class="col-md-4 round-down">
    <div class="card bg-lite text-black round3">
      <img src="../../../assets/image/blue-circle.png" class=" img-fluid card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title c-title ">Scope</h5>
        <p class="card-text c-text">Our scope is research and education on improved primary prevention, recognition, diagnosis, treatment
          and palliation of non- communicable respiratory and diabetic diseases.</p>

      </div>
    </div>

  </div>
</div>
</div>


<div class="container ex-down">
  <div class="row image-section">
    <div class="col-md-1 image-col "><img src="../../../assets/image/topicIcon.png" class="img-fluid iconImage" alt="Responsive image"></div>
    <div class="col-md-4 colMainTopic">
        <p>

            PCRG <br>
            (Primary Care Respiratory Group)
        </p>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
       <div class="col-md-4">
        <p class="sub-description">The prevalence of asthma among 5-11 aged children varies between 13 -25% making it the most
          common non-communal disease among children. Asthma is one of the most managed NCD’s by the
          primary care physicians. </p>

          <div class="explore">
             <a href="#" class="stretched-link">Explore More  <img src="../../../assets/image/arrow.png"></a>
          </div>
       </div>

       <div class="col-md-7 ">
        <img src="../../../assets/image/respiratoty.png" class="img-fluid imageup " alt="Responsive image">
      </div>
    </div>
  </div>

  <div class="row image-section">
    <div class="col-md-1 image-col "><img src="../../../assets/image/topicIcon.png" class="img-fluid iconImage" alt="Responsive image"></div>
    <div class="col-md-4 colMainTopic">
        <p>

          PCDG <br>
          (Primary Care Diabetic Group)
        </p>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
       <div class="col-md-4">
        <p class="sub-description">Sri Lanka too is seeing an increase in the cases of diabetes. Acccroding to recent statistics by
          the Internantional dibetes federation, the prevalence of diabetes among adults in Sri lanka is 8.5%. </p>

          <div class="explore">
             <a href="#" class="stretched-link">Explore More  <img src="../../../assets/image/arrow.png"></a>
          </div>
       </div>

       <div class="col-md-7 ">
        <img src="../../../assets/image/diabetic.png" class="img-fluid imageup" alt="Responsive image">
      </div>
    </div>
  </div>
</div>



<!-- <div class="container">

<div class="row image-section">
  <div class="col-md-1 "><img src="../../../assets/image/topicIcon.png" class="img-fluid iconImage" alt="Responsive image"></div>
  <div class="col-md-4 colMainTopic">
      <p>

          PCRG <br>
          (Primary Care Respiratory Group)
      </p>
      <br>

      <p class="sub-description">The prevalence of asthma among 5-11 aged children varies between 13 -25% making it the most
           common non-communal disease among children. Asthma is one of the most managed NCD’s by the
           primary care physicians. </p>

           <div class="explore">
              <a href="#" class="stretched-link">Explore More  <img src="../../../assets/image/arrow.png"></a>
           </div>

  </div>
  <div class="col-md-7 ">
      <img src="../../../assets/image/respiratoty.png" class="img-fluid" alt="Responsive image">
  </div>

</div>

<div class="row image-section">
  <div class="col-md-1 "><img src="../../../assets/image/topicIcon.png" class="img-fluid iconImage" alt="Responsive image"></div>
  <div class="col-md-4 colMainTopic">
      <p>

        PCDG <br>
           (Primary Care Diabetic Group)
      </p>
      <br>

      <p class="sub-description">Sri Lanka too is seeing an increase in the cases of diabetes. Acccroding to recent statistics by
         the Internantional dibetes federation, the prevalence of diabetes among adults in Sri lanka is 8.5%.</p>

           <div class="explore" >
              <a href="#" class="stretched-link">Explore More  <img src="../../../assets/image/arrow.png"></a>
           </div>

  </div>
  <div class="col-md-7 ">
      <img src="../../../assets/image/diabetic.png" class="img-fluid" alt="Responsive image">
  </div>

</div>
</div> -->

<div class="container recognitions">

<h2 class="body-head">Our Recognitions and Achievements</h2>

<div class="row">
  <div class="col-md-4">
    <div class="card-2" >
      <div class="image-center">
        <img class="card-img-top" src="../../../assets/image/card1image.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title-2">International Primary Care Respiratory Group (IPCRG)</h5>
        <p class="card-text">International Primary Care Respiratory Group (IPCRG) UK based the
           most recognised international organization for respiratory medicine for primary care physicians ,
            has granted us their membership ( visit www.ipcrg.org).</p>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card-2" >
      <div class="image-center">
        <img class="card-img-top" src="../../../assets/image/card2image.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title-2">Symposia</h5>
        <p class="card-text">Annually we organise symposia in both respiratory and diabetic updates for primary care physicians.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card-2" >
      <div class="image-center">
        <img class="card-img-top" src="../../../assets/image/card2image.png" alt="Card image cap">
      </div>

      <div class="card-body">
        <h5 class="card-title-2">IPCRG - South Asian Scientific Conference in Respiratory Medicine</h5>
        <p class="card-text">Successfully conducted the first ever IPCRG - South Asian Scientific Conference in Respiratory Medicine on 2017.</p>

      </div>
    </div>
  </div>

</div>
</div>
