<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <img src="../../../assets/image/pcdgLogo.png" alt="" class="icon-Image">
                </div>
                <div class="col-md-10">
                    <h2 class="body-head">Primary Care Diabetic Group
                        (PCDG)</h2>

                </div>
            </div>
          </div>
          <div class="row flip">
            <div class="col-md-8">
              <p class="sub-Text" >The Primary Care diabetic Group – Sri Lanka (PCRGSL) is a professional association comprised primarily of Primary
                Care Physicians with a special interest in the treatment of diabetic-related disorders in the community. Just like
                 the primary care respiratory group we are expanding the reach into the community. We have not yet started to course
                  to get the practitioners more experienced in the feild but we aim to. </p>
            </div>

            <div class="col-md-4 three-image">
              <img src="../../../assets/image/three-image.png" alt="" class="threeImage">
            </div>
          </div>



    </div>

</div>

<div class="container-fluid cv-back">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/image/Group 612.png" alt=""  class="img-fluid double-img">
            </div>
            <div class="col-md-8 mid-dec">
                <h2 class="body-head" style="margin-top: 50px; margin-left: 40px;">Diabetes in Sri lanka</h2>

                    <p class="sub-text" style="margin-left: 40px;"> According to local statistics, the prevalence of diabetes mellitus is on the rise.
                            In 1990, the earliest study on a rural community found a frequency of 2.5 percent.
                                In 2005, the largest-ever study on the prevalence of diabetes in Sri Lanka was published.
                                <br><br>
                                    Diabetes mellitus, formerly thought to be a disease of the rich world, has evolved into a global pandemic,
                                        with two-thirds of the world’s diabetic population living in poor countries. Males had a prevalence of 14.2%, while
                                            females had a prevalence of 13.5 %</p>

            </div>
        </div>




    </div>

</div>

<div class="container footer-contain">
    <div class="row">
        <div class="col-md-6">

          <div class="row image-section">
            <div class="col-md-1 image-col "><img src="../../../assets/image/topicIcon.png" class="img-fluid iconImage" alt="Responsive image"></div>
            <div class="col-md-11 colMainTopic">
                <p>

                  Sign up for the Course
                </p>
              </div>

              <div class="sub-dec" >
                <p class="sub-description">Sri Lanka too is seeing an increase in the cases of diabetes. Acccroding to recent statistics by
                  the Internantional dibetes federation, the prevalence of diabetes among adults in Sri lanka is 8.5%. </p>

                <div class="explore">
                    <a href="pcdg_form" class="stretched-link">Explore More  <img src="../../../assets/image/arrow.png"></a>
                </div>
              </div>

          </div>

        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title"><img src="../../../assets/image/enrall.png" alt="" >  &nbsp;&nbsp;&nbsp; Enroll Now</h5>
                            <p class="card-text">The Certificte Course In Evidence Based Diabetes Management (CCEBDM)</p>
                            <a href="educational_programs2" class="btn btn-primary">Join With Us &nbsp;&nbsp;&nbsp;  <img src="../../../assets/image/whiteArrow.png"></a>
                          </div>
                    </div>
                    <div class="col-md-5">
                        <img src="../../../assets/image/course1.png" alt="" class="img-fluid card-img">
                    </div>

                </div>


              </div>

        </div>

    </div>

</div>
