<div class="container">
    <h2 class="body-head mt-5">Our Network</h2>
</div>
<div class="container-fluid header-top" style="background-image: url('../../../assets/image/cvBack.png');">

    <!-- <img src="../../../assets/image/cvBack.png" alt=""> -->
  <div class="container">
      <div class="row top-row">
            <div class="col-md-3">
                <div class="card-2">
                    <div class="text-center">
                        <img class="img-fluid card-img-top" src="../../../assets/image/card1.png" alt="Card-image-cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title-2">DR.TILK SILVA</h5>
                        <h6 class="card-title-3">President - PCRG</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus
                            eget
                            eget.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-2">
                  <div class="text-center">
                    <img class="card-img-top" src="../../../assets/image/card2.png" alt="Card-image-cap">
                  </div>
                    <div class="card-body">
                        <h5 class="card-title-2">DR.TILK SILVA</h5>
                        <h6 class="card-title-3">President - PCRG</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus
                            eget
                            eget.

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-2">
                  <div class="text-center">
                    <img class="card-img-top" src="../../../assets/image/card3.png" alt="Card-image-cap">
                  </div>
                    <div class="card-body">
                        <h5 class="card-title-2">DR.TILK SILVA</h5>
                        <h6 class="card-title-3">President - PCRG</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus
                            eget
                            eget.

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-2">
                  <div class="text-center">
                    <img class="card-img-top" src="../../../assets/image/card4.png" alt="Card-image-cap">
                  </div>
                    <div class="card-body">
                        <h5 class="card-title-2">DR.TILK SILVA</h5>
                        <h6 class="card-title-3">President - PCRG</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus
                            eget
                            eget.

                        </p>

                    </div>
                </div>
          </div>

      </div>


  </div>


</div>

<div class="container-fluid header-top">

  <!-- <img src="../../../assets/image/cvBack.png" alt=""> -->
<div class="container">
    <div class="row top-row">
          <div class="col-md-3">
              <div class="card-2">
                  <div class="text-center">
                      <img class="img-fluid card-img-top" src="../../../assets/image/card1.png" alt="Card-image-cap">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title-2">DR.TILK SILVA</h5>
                      <h6 class="card-title-3">President - PCRG</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus
                          eget
                          eget.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card-2">
                <div class="text-center">
                  <img class="card-img-top" src="../../../assets/image/card2.png" alt="Card-image-cap">
                </div>
                  <div class="card-body">
                      <h5 class="card-title-2">DR.TILK SILVA</h5>
                      <h6 class="card-title-3">President - PCRG</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus
                          eget
                          eget.

                      </p>

                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card-2">
                <div class="text-center">
                  <img class="card-img-top" src="../../../assets/image/card3.png" alt="Card-image-cap">
                </div>
                  <div class="card-body">
                      <h5 class="card-title-2">DR.TILK SILVA</h5>
                      <h6 class="card-title-3">President - PCRG</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus
                          eget
                          eget.

                      </p>

                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card-2">
                <div class="text-center">
                  <img class="card-img-top" src="../../../assets/image/card4.png" alt="Card-image-cap">
                </div>
                  <div class="card-body">
                      <h5 class="card-title-2">DR.TILK SILVA</h5>
                      <h6 class="card-title-3">President - PCRG</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat netus
                          eget
                          eget.

                      </p>

                  </div>
              </div>
        </div>

    </div>


</div>


</div>








<div  class=" middle-body" >

  <div class="container middle-text-area">
    <div class="row">
      <div class="col-md-8 membership" >
        <h2 class="body-head middle-head">Membership Benefits</h2>
          <div class="row">
            <div class="col-md-1 iconImg">
              <img src="../../../assets/image/trueTopicIcon.png" alt="" class="img-fluid ">
            </div>
            <div class="col-md-11 iconTxt">
              <p class="middle-icon-text">Achieve the latest updates in Respiratory and Diabetic management in primary care setting. </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1 iconImg ">
              <img src="../../../assets/image/trueTopicIcon.png" alt="" class="img-fluid ">
            </div>
            <div class="col-md-11 iconTxt">
              <p class="middle-icon-text">Free access to program and conferences organised by PCRG and PCDG.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">

        <div class="middle-CV-middle">
          <div class="row">
            <div class="col-md-7  middle-left-dec">
              <h3 class="middle-left-text">Want to become a member?</h3>
              <!-- <button type="button" class="btn btn-primary apply-btn">Apply</button> -->
              <a href="contactus"  class="btn btn-primary apply-btn"> Apply</a>
            </div>
            <div class="col-md-5">
              <img src="../../../assets/image/middleDoc.png" alt="" class="middle-doc">
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>



</div>
