.header{
    background-color: #E5F1FF;
    // height: 500px;
    position: relative;
    top: 50px;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: -2;
}

.middle-CV-bottom{
    position: relative;
    // top: 160px;
}

.header-top{

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 61vh;
}







.header-CV-top{
    height: auto;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}
.header-CV-bottom{
    height: auto;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.body-head{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 136.8%;
    color: #000000;

}

// card

.card-img-top{
    width: 60%;

}

.card-title-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 112.5%;
    /* identical to box height, or 22px */
    align-items: center;
    text-align: center;


    color: #193B58;

}

.card-title-3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 112.5%;
    /* identical to box height, or 16px */

    letter-spacing: 0.05em;

    color: #193B58;
    text-align: center;
}

.card-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size:15px;
    line-height: 112.5%;
    /* or 17px */

    text-align: center;

    color: #6B6B6B;
    text-align: center;
    align-items: center;

}
.card-body{
  padding: 20px 0;
}



.btn{
    background-color: #001E6F;
    color: #FFFFFF;
    text-transform: none;
    border-radius:10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 30px;
    align-items: center;
    text-align: center;

}

.middleBtn{
    align-items: center;
    text-align: center;
}


.middle-left-text{
font-size: 1.5vw ;
font-family: 'El Messiri';
 font-weight: 600;
 text-align: center;
}





.middle-body{
  background-image: url('../../../assets/image/cvBack.png');
  background-repeat: no-repeat;
  bottom: 0;
  background-size: cover;
  height: 61vh;
}

.membership{
  align-content: center;
  align-items: center;
  align-self: center;
}

.middle-icon-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #000000;
}

.middle-CV-middle{
  background-image: url("../../../assets/image/middleCVmiddle.png");
  width: 170%;
  height: 61vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  // margin-top: 50px;
  // border-radius: 45%;


}
.middle-left-dec{
  text-align: center;
  height: 50vh;
  align-items: center;
  position: relative;
  justify-items: center;

}

.middle-left-text{

  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  left: 30px;
  top: 100px;

  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 47px;
  text-align: center;

  color: #393939;
}

.apply-btn{
  position: relative;
  // align-items: center;
  left: 25px;
  top: 120px;
  // height: 40px;
  border-radius: 25px;
  // width: 50%;
  // text-align: center;
  font-size: 0.8vw;
}

.middle-doc{

  position: relative;
  top: 110px;
  right: 50px;
}

@media only screen and (max-width: 1440px) {
  .middle-CV-middle{
    width: 120%;
    height: 61vh;
}
}


@media only screen and (max-width: 1024px) {
  .body-head{
    font-size: 37px;
  }
  .middle-icon-text{
    font-size: 15px;
  }

  .middle-CV-middle{
    width: 100%;
    height: 52vh;
}

.middle-left-text{

  margin-top: 15px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.apply-btn{
font-size: 20px;
position: relative;
left: 0;
right: 0;
bottom: 0;
top: 0;
}
.middle-doc{
position: relative;
bottom: 69%;

width: 180%;
right: 71%;
top: 35%;

}

.middle-body{
  height: 53%;
}


}


@media only screen and (max-width: 768px) {

  .header-top{

    height: auto;
  }
  .middle-body{
    height: 40vh;
  }
  .middle-CV-middle{
    width: 100%;
    height: 40vh;
}


.body-head{
  font-size: 34px;
}
.middle-icon-text{
  font-size: 13px;
  line-height: 1.5;
}
.apply-btn{
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}
.middle-doc{
  width: 100%;
}

}

@media only screen and (max-width: 425px) {

  .header-top{

    height: auto;
  }

  .middle-body{
    height: 90vh;
    margin-bottom: 150px;
  }
  .membership{
    margin-top: 130px;
  }
  .body-head{
    font-size: 32px;
  }
  .middle-left-text{
    font-size: 20px;
    margin: 50px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
.apply-btn{
  font-size: 20px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.middle-doc{
  position: relative;
// bottom: -75%;
  left: 55%;
  width: 45%;
  // right: -75%;
  top: -75%;

}
.middle-CV-middle{
  width: 100%;
  height: 61vh;

}
.iconImg{
  width: 10%;
}
.iconTxt{
  width: 90%;
}

}
