<div class="container top-container">

  <h2 class="body-head">Enroll Now</h2>

  <p class="head-para"> <img src="../../../../assets/image/pcdgLogo.png" alt="">
    Application for the membership of the Primary Care Diabetic Group. <br>
      <span id="pcrg">(PCDG) </span>
  </p>

</div>

<div class="container-fluid cv-back-up"></div>

<div class="container-fluid cv-back">
  <div class="container">
      <div class="row">
          <div class="col-md-6 ">

            <mat-stepper linear #stepper>
              <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">

                <form [formGroup]="firstFormGroup" (ngSubmit)="pcdgNextForm()">
                  <!-- <ng-template matStepLabel>Personal Details</ng-template> -->
                 <div class="row">
                    <div class="col-md-6 left">
                        <p>Personal Details</p>
                    </div>
                    <div class="col-md-6 right">
                      <p>Other Details</p>
                    </div>

                 </div>

                      <div class="form-group">
                        <input type="text"  placeholder="Name" formControlName="pcdgFirstName" required  class="form-control" #pcdgFirstName value="pcdgFirstName"
                        [ngClass]="{ 'is-invalid': submitted && f.pcdgFirstName.errors }">
                        <div *ngIf="submitted && f.pcdgFirstName.errors" class="invalid-feedback">
                          <div *ngIf="f.pcdgFirstName.errors.required">pcdgFirstName is required</div>
                        </div>

                      </div>


                    <div class="form-group">
                      <input type="text"  placeholder="NIC" formControlName="pcdgNic" required  class="form-control" #pcdgNic value="pcdgNic"
                      [ngClass]="{ 'is-invalid': submitted && f.pcdgNic.errors }">

                      <div *ngIf="submitted && f.pcdgNic.errors" class="invalid-feedback">
                        <div *ngIf="f.pcdgNic.errors.required">pcdgNic is required</div>
                        <div *ngIf="f.pcdgNic.errors.minlength">
                          NIC must be at least 9 characters
                        </div>
                        <div *ngIf="f.pcdgNic.errors.maxlength">
                          NIC must not exceed 13 characters
                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <textarea type="text" formControlName="pcdgPostAddress" required  class="form-control" placeholder="Postal Address" style="min-height: 100px;" #pcdgPostAddress value="pcdgPostAddress"
                      [ngClass]="{ 'is-invalid': submitted && f.pcdgPostAddress.errors }">
                        <div *ngIf="submitted && f.pcdgPostAddress.errors" class="invalid-feedback">
                          <div *ngIf="f.pcdgPostAddress.errors.required">pcdgPostAddress is required</div>
                        </div>
                      </div></textarea>
                    </div>

                    <div class="form-group">
                      <input type="text" placeholder="Phone Number( Mobile)" formControlName="pcdgMobile" required  class="form-control" #pcdgMobile value="pcdgMobile"
                      [ngClass]="{ 'is-invalid': submitted && f.pcdgMobile.errors }">

                      <div *ngIf="submitted && f.pcdgMobile.errors" class="invalid-feedback">
                        <div *ngIf="f.pcdgMobile.errors.required">pcdgMobile is required</div>
                        <div *ngIf="f.pcdgMobile.errors.minlength">
                          NIC must be at least 9 characters
                        </div>
                        <div *ngIf="f.pcdgMobile.errors.maxlength">
                          NIC must not exceed 11 characters
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <input type="text" placeholder="Phone Number( Resident /Optional)" formControlName="pcdgMobileResident" required  class="form-control" #pcdgMobileResident value="pcdgMobileResident">
                    </div>

                    <div class="form-group"></div>
                    <input type="text" placeholder="Phone Number( Office /Optional)" formControlName="pcdgMobileOffice" required  class="form-control" #pcdgMobileOffice value="pcdgMobileOffice">

                    <div class="form-group">
                      <input type="text"  placeholder="Email" formControlName="pcdgEmail" required  class="form-control" #pcdgEmail value="pcdgEmail"
                      [ngClass]="{ 'is-invalid': submitted && f.pcdgEmail.errors }">

                      <div *ngIf="submitted && f.pcdgEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.pcdgEmail.errors.required">Email is required</div>
                        <div *ngIf="f.pcdgEmail.errors.email">Email is invalid</div>
                      </div>
                    </div>


                    <div class="middleBtn">
                    <button mat-button matStepperNext class="btn">Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                <form [formGroup]="secondFormGroup">
                        <div class="row">
                          <div class="col-md-6 left">
                              <p>Personal Details</p>
                          </div>
                          <div class="col-md-6 right">
                            <p>Other Details</p>
                          </div>

                      </div>




                      <mat-form-field appearance="outline">
                        <div class="form-group">
                          <input type="text" matInput placeholder="Qulification" formControlName="pcdgQulification" #pcdgQulification value="pcdgQulification"
                          [ngClass]="{ 'is-invalid': submitted && f1.pcdgQulification.errors }">
                        </div>
                        <div *ngIf="submitted && f1.pcdgQulification.errors" class="invalid-feedback">
                          <div *ngIf="f1.pcdgQulification.errors.required">pcdgQulification is required</div>
                        </div>

                        <mat-icon matSuffix (click)="addEmployee()" > <img src="../../../../assets/image/plus.png" alt=""></mat-icon>
                      </mat-form-field>

                      <!-- Add qualification -->
                      <div *ngFor="let employee of qualification().controls; let empIndex = index">
                        <div>
                          <div formArrayName="skills">



                            </div>
                            <mat-form-field appearance="outline">
                              <input type="text" matInput placeholder="Qulification" formControlName="pcdgQulification1" #pcdgQulification1 value="">

                            </mat-form-field>
                          </div>
                        </div>

                        <div class="form-group">
                          <input type="text" matInput placeholder="Speciality" formControlName="pcdgSpeciality" required  class="form-control" #pcdgSpeciality value="pcdgSpeciality"
                          [ngClass]="{ 'is-invalid': submitted && f1.pcdgSpeciality.errors }">
                          <div *ngIf="submitted && f1.pcdgSpeciality.errors" class="invalid-feedback">
                            <div *ngIf="f1.pcdgSpeciality.errors.required">pcdgSpeciality is required</div>
                          </div>
                        </div>


                        <div class="form-group">
                          <input type="text" matInput placeholder="SLMC Reg No" formControlName="pcdgSLMCRegNo" required  class="form-control" #pcdgSLMCRegNo value="pcdgSLMCRegNo"
                          [ngClass]="{ 'is-invalid': submitted && f1.pcdgSLMCRegNo.errors }">
                          <div *ngIf="submitted && f1.pcdgSLMCRegNo.errors" class="invalid-feedback">
                            <div *ngIf="f1.pcdgSLMCRegNo.errors.required">pcdgSLMCRegNo is required</div>
                          </div>
                       </div>



                            <input type="text" matInput placeholder="Fax No" formControlName="pcdgFaxNo" required  class="form-control" #pcdgFaxNo value="pcdgFaxNo">

                            <input type="text" matInput placeholder="Proposed By" formControlName="pcdgProposedBy" required  class="form-control" #pcdgProposedBy value="pcdgProposedBy">

                            <input type="text" matInput placeholder="Seconded By" formControlName="pcdgSecondedBy" required  class="form-control" #pcdgSecondedBy value="pcdgSecondedBy">

                        <div>

                          <div class="middleBtn">
                            <button (click)="pcdgSubmitForm()" class="btn" mat-button matStepperNext>Submit</button>
                          </div>


                        </div>
                </form>
              </mat-step>

            </mat-stepper>




          </div>
          <div class="col-md-6">
              <img src="../../../../assets/image/three-image.png" alt="" class="image-three" >
          </div>
      </div>
  </div>


</div>

<div class="container-fluid cv-back-down"></div>

<!-- End -->

